@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=VT323&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light-gray font-mono text-black antialiased transition-colors duration-200;
  }

  html.dark body {
    @apply bg-neutral-900 text-gray-100;
  }
}
